*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* 탭메뉴 꾸미기 */
.tabviedo{
  width:600px; 
  overflow: hidden;
}
.tabviedo .tabnav{
  width:600px; 
  overflow: hidden;
}
.tabviedo .tabnav li{
  float: left;
}
.tabviedo .tabnav li a{ 
  display: block;
  padding: 20px 40px;
  border:1px solid #ddd;
  border-bottom: 1px solid #7ea21e;
  position: relative;
  z-index: 2;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabviedo .tabnav li .active{
  border: 1px solid #7ea21e;
  border-bottom: 1px solid #fff;
}
.tabviedo .tabnav li a:hover,
.tabviedo .tabnav li a.active{
  background:#fff; 
  color:#7ea21e; 
}

/* 탭컨테츠 꾸미기 */
.tabviedo .tabcontent{
  padding: 20px; 
  height:244px; 
  border:1px solid #7ea21e; 
  position: relative;
  top: -1px;
}
