@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'GmarketSansMedium';
    min-width: 1320px;
    font-size: 12px;
    line-height: 22px;
}

/* 헤더 */
header {
    border-bottom: 2px solid #f66a0d;
}

#header {
    width: 80%;
    min-width: 1320px;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

}

/* 검색버튼 */
.search input {
    margin-top: 10px;
    width: 251.89px;
    padding: 6px 15px;
    border: 1px #000 solid;
    font-family: 'GmarketSansMedium';
    font-weight: 400;
}

.search input:hover::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input::placeholder {
    font-family: 'GmarketSansMedium';
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    color: #000;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.nav1 ul,
.nav2 ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.nav1>ul>li:nth-child(2),
.nav1>ul>li:nth-child(3),
.nav1>ul>li:nth-child(4),
.nav1>ul>li:nth-child(5),
.nav1>ul>li:nth-child(6) {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
}

.nav1>ul>li:nth-child(2) a,
.nav1>ul>li:nth-child(3) a,
.nav1>ul>li:nth-child(4) a,
.nav1>ul>li:nth-child(5) a,
.nav1>ul>li:nth-child(6) a {
    padding: 30px 0;
    display: block;
}

.nav2 {
    align-items: center;
}

.nav2 li {
    font-size: 12px;
    font-weight: bold
}

.nav2 li:nth-child(2),
.nav2 li:nth-child(3),
.nav2 li:nth-child(4) {
    margin-left: 15px;
}

.nav1 ul a:hover {
    color: #f66a0d;
}

.nav2 ul:nth-child(1) a:hover {
    text-decoration: underline;
    color: #000;
}

/* 서브메뉴 */
.sub {
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    border-top: 2px solid #f66a0d;
    z-index: 2;
}

header {
    position: relative;
}

/* 서브메뉴 가운데 창 */
.sub div {
    width: 80%;
    min-width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* 서브메뉴 꾸미기 */
.sub div ul {
    width: 100%;
    padding-left: 206px;
    text-align: center;
    box-sizing: border-box;
}

.sub div ul a {
    display: block;
    padding: 25px 65px 20px 0px;
    color: #000;
    font-size: 14px;
}

.sub ul li {
    padding-right: 60px;
}

/* 메인배너 */
.mainbanner img {
    width: 100%;
}

/* 일자선택바 */
.book {
    width: 80%;
    margin: 120px auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.where div {
    display: block;
    width: 24px;
    height: 33px;
}

.when div {
    display: block;
    width: 30px;
    height: 33px;
}

.where,
.when {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.where p,
.when p {
    font-size: 33px;
    font-weight: 700;
    padding-top: 8px;
    margin-left: 10px;
}

/*  콘텐츠_떠오르는 허니문 여행지 */
.best {
    background-color: #96d0e4;
    width: 100%;
    height: 733px; 
    margin: auto;
    padding: 80px 0;
}

/* 이벤트 배너 */
.eventbanner {
    width: 100%;
    margin: auto;
    padding: 150px 0;
}

.eventbanner img {
    width: 100%;
    display: block;
}

/* pick 허니문 여행지 */
.pick {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    min-width: 1320px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.pick_txt {
    width: 290px;
    height: 495px;
    background-color: #fe9b9b;
    padding: 20px 40px;
    box-sizing: border-box;
}

.pick_txt span {
    color: #fff;
}

.pick_txt li:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    padding: 40px 0;
}

.pick_txt li:nth-child(2) {
    font-weight: bold;
    font-size: 29px;
    padding-bottom: 20px;
    line-height: 50px;
}

.pick_txt li:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    padding-top: 60px;
    line-height: 30px;
}

/* 하얀박스 */
.gallery_txt {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 0;
    text-align: left;
}

.gallery_txt li:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.gallery_txt li:nth-child(2) {
    font-size: 13px;
}

.gallery_txt li:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.gallery_txt ul {
    padding-left: 30px;
}

.swiper-slide a {
    position: relative;
}

/* 콘텐츠_럭셔리 허니문 여행지 */
.luxury {
    min-width: 1320px;
    text-align: center;
    width: 80%;
    margin: 150px auto;
}

.luxury h4 {
    font-size: 30px;
    font-weight: lighter;
}

.luxury h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 80px 0;
}

.luxury span {
    color: #f66a0d;
}

/* 푸터 */
footer {
    background-color: #ffb369;
    color: #fff;
    padding-bottom: 25px;
}

footer a {
    color: #fff;
}

.footer_inner {
    border-bottom: 1px solid #fff;
}

.footer_inner1 {
    width: 80%;
    min-width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_inner1 ul:nth-child(1) li {
    font-size: 16px;
    line-height: 16px;
    margin-right: 27px;
    display: block;
    padding: 18px 0;
}

.footer_inner1 ul:nth-child(2) li {
    margin-left: 8px;
    display: block;
    opacity: 0.7;
}

.footer_inner1 ul:nth-child(2) li:hover {
    opacity: 1;
}

.footer_inner1 ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_inner1 ul li:hover {
    text-decoration: underline;
}

.footer_inner2 {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.bold {
    font-size: 17px;
    padding-bottom: 10px;
}

.right li:nth-child(1) {
    font-size: 17px;
    padding-bottom: 15px;
}

.right li:nth-child(2) {
    font-size: 14px;
}

.right li:nth-child(3) {
    font-size: 23px;
    padding-bottom: 12px;
}

.right {
    text-align: right;
}

.right img {
    padding-right: 3px;
}